
*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
html{
    background: rgb(71,143,235);
    background: linear-gradient(90deg, rgba(71,143,235,1) 0%, rgba(11,163,154,1) 40%, rgba(0,212,255,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}
body{
    margin: 0;

}
h1{
    margin-top: 3rem;
    text-align: center;
}
h3{
    text-align: center;
}
i{
    font-size: 1.5rem;
    margin: .1rem;
    color: #ebd114;
}
.section{
    margin: 4rem;
    padding: 0;
}
.namesColumn{
    display: flex;
}
.empty{
    width: 10rem;
}
.namesColumn .nameColumn {
    border-bottom: 2px solid #E61926;
    width: 10rem;
}
.namesColumn .nameColumn p{
    padding: 1rem;
    text-align: center;
    color: #000;
    font-size: 1.2rem;
    font-weight: 900;
}
.activitiesRow {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}
.activitiesRow .activityRow {
    padding: .2rem 0;
    width: 10rem;
    border-right: 2px solid #E61926;
}
.activitiesRow .one .activityRow {
    border-bottom: 2px solid #E61926;
}
.Name{
    font-weight: 900;
    font-size: 1.2rem;
}
.one {
    display: flex;
}
.two {
    display: flex;
    border-bottom: 5px solid #E61926;
    width: 1280px;
}
